
<%- include("header") -%>
    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
      <ul>
        <%newListItems.forEach(function(listItem) {%>
          <div class="item">
            <input type="checkbox">
            <p><%= listItem %></p>
          </div>
        <% })%>
      </ul>

      <form class="addItem" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>+</button>
      </form>
    </div>


    <%- include("footer") -%>